# Database configuration for JJBanking API
DB_NAME=jjbanking_db # nome do banco de dados
DB_USER=postgres  # troco conforme o usuário do seu banco local
DB_PASSWORD=admin123 # troco conforme a senha do seu banco local